<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/global.css">
  <link rel="stylesheet" type="text/css" href="../styles/home.css">
  <link rel="stylesheet" type="text/css" href="../styles/admin.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Kpop Event</title>
</head>

<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>KPOP</h1>
        <h1 id="event">EVENT</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
            <% if (!user) { %>
              <!-- Mostrar apenas quando o usuário NÃO estiver logado -->
              <a href="/login">
                <li>
                  Login
                </li>
              </a>
              <% } else { %>
                <!-- Mostrar apenas quando o usuário estiver logado -->
                <a href="/login/logout">
                  <li>
                    Logout
                  </li>
                </a>
                <% } %>
          </ul>
        </nav>
      </section>
    </section>
  </header>

  <main>
    <section class="mainContainer">
      <article class="title">
        <h1>Painel de Edição</h1>
      </article>
      <section class="container">
        <article class="subTitle">
          <h2>Artigos</h2>
        </article>
        <section class="groupContainer">
          <a href="/article/createArticle" class="createContainer">
            <i class='bx bx-plus bx-sm'></i>
            Cadastro de Artigo
          </a>
          <section class="tableContainer">
            <table>
              <thead>
                <tr>
                  <th> Título </th>
                  <th> Resumo </th>
                  <th> Edição </th>
                </tr>
              </thead>
              <tbody>
                <% articles.forEach((article, index)=> { %>
                  <tr class="<%= index % 2 === 0 ? 'even-row' : 'odd-row' %>">
                    <td>
                      <%= article.kb_title %>
                    </td>
                    <td>
                      <%= article.kb_summary %>
                    </td>
                    <td>
                      <a href="/article/<%= article.kb_id %>" class="read">
                        <i class='bx bx-book-open bx-sm bx-tada-hover'></i>
                      </a>
                      <a href="/article/updateArticle/<%= article.kb_id %>" class="edit">
                        <i class='bx bxs-edit bx-sm bx-tada-hover'></i>
                      </a>
                      <a href="/article/delete/<%= article.kb_id %>" class="delete">
                        <i class='bx bx-trash bx-sm bx-tada-hover'></i>
                      </a>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
          </section>
        </section>
        <% if (user.author_level==='admin' ) { %>
          <article class="subTitle">
            <h2>Usuários</h2>
          </article>
          <section class="groupContainer">
            <a href="/users/signup" class="createContainer">
              <i class='bx bx-plus bx-sm'></i>
              Cadastro de Usuário
            </a>
            <section class="tableContainer">
              <table>
                <thead>
                  <tr>
                    <th> Usuário </th>
                    <th> Email </th>
                    <th> Nível </th>
                    <th> Status </th>
                    <th> Edição </th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach((user, index)=> { %>
                    <tr class="<%= index % 2 === 0 ? 'even-row' : 'odd-row' %>">
                      <td>
                        <%= user.author_user %>
                      </td>
                      <td class="email">
                        <%= user.author_email %>
                      </td>
                      <td>
                        <%= user.author_level %>
                      </td>
                      <td>
                        <%= user.author_status==='on' ? 'Ativo' : 'Desativado' %>
                      </td>
                      <td>
                        <a href="/users/edit/<%= user.author_id%>" class="edit">
                          <i class='bx bxs-edit bx-sm bx-tada-hover'></i>
                        </a>
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
            </section>
          </section>
          <% } %>
      </section>
    </section>

    </section>
  </main>

  <footer>
    <section>
      <i class='bx bxl-twitter bx-md'></i>
      <i class='bx bxl-instagram bx-md'></i>
      <i class='bx bxl-youtube bx-md'></i>
    </section>
    <p>Todos os direitos reservados © 2023</p>
  </footer>
</body>

</html>