<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Admin</h1>
  <a href="/">Home</a>
  <a href="/article/createArticle">Cadastro de Artigo</a>
  <ul>
    <% articles.forEach((article) => { %>
      <li>
        <p><%= article.kb_title %></p>
        <p><%= article.kb_summary %></p>
        <a href="/article/<%= article.kb_id %>">Ler</a>
        <a href="/article/updateArticle/<%= article.kb_id %>">Atualizar</a>
        <a href="/article/delete/<%= article.kb_id %>">Deletar</a>
      </li>
    <% }); %>
  </ul>

</body>
</html>