<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/global.css">
  <link rel="stylesheet" type="text/css" href="../styles/article.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="../app.js" defer></script>
  <title>Kpop Event</title>
</head>

<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>KPOP</h1>
        <h1 id="event">EVENT</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
            <% if (!user) { %>
              <!-- Mostra apenas quando o usuário NÃO estiver logado -->
              <a href="/login">
                <li>
                  Login
                </li>
              </a>
            <% } else { %>
              <!-- Mostra apenas quando o usuário estiver logado -->
              <a href="/admin">
                <li>
                  Admin
                </li>
              </a>
              <a href="/login/logout">
                <li>
                  Logout
                </li>
              </a>
            <% } %>
          </ul>
        </nav>
      </section>
    </section>
  </header>
  <main>
    <section class="container">
      <section class="infoContainer">
        <h3>
          <%=article.kb_title%>
        </h3>
        <p>
          <%=article.kb_body%>
        </p>
        <section class="imgContainer">
          <img src="<%= article.kb_image%>">
        </section>
      </section>
      <section>
        <section class="publishContainer">
          <span>
            <%=article.kb_published_date%>
          </span>
          <span>
            <%=article.kb_author%>
          </span>
          <span>
            <%=article.kb_author_email%>
          </span>
        </section>
        <section class="likeContainer">
          <span>
            <%=article.kb_liked_count%>
          </span>
          <form action="/article/like/<%= article.kb_id %>" method="POST">
            <button type="submit">
              <i class='bx bxs-heart bx-sm'></i>
            </button>
          </form>
        </section>
      </section>
    </section>
  </main>
  <footer>
    <section>
      <i class='bx bxl-twitter bx-md'></i>
      <i class='bx bxl-instagram bx-md'></i>
      <i class='bx bxl-youtube bx-md'></i>
    </section>
    <p>Todos os direitos reservados © 2023</p>
  </footer>
</body>

</html>