<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/../styles/global.css">
  <link rel="stylesheet" href="/../styles/signup.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Kpop Event</title>
  <title>Atualização de Usuário</title>
</head>

<body>
  <header>
    <section class="headerContainer">
      <section class="logo">
        <img src="" alt="">
        <h1>KPOP</h1>
        <h1 id="event">EVENT</h1>
      </section>
      <section class="navContainer">
        <nav>
          <ul>
            <a href="/">
              <li>
                Home
              </li>
            </a>
            <% if (!user) { %>
              <a href="/login">
                <li>
                  Login
                </li>
              </a>
              <% } else { %>
                <a href="/login/logout">
                  <li>
                    Logout
                  </li>
                </a>
                <a href="/admin">
                  <li>
                    Voltar
                  </li>
                </a>
                <% } %>
          </ul>
        </nav>
      </section>
    </section>
  </header>
  <main id="userSignUpMain">
    <article class="container" id="userSignUpCtn">
      <form action="/users/edit/<%= author.author_id %>" method="post">
        <h1>Editar Usuário: <%= author.author_name %>
        </h1>
        <section class="inputBox">
          <input type="text" id="author_name" name="author_name" value="<%= author.author_name %>" required>
          <label for="author_name">Nome:</label>
        </section>
        <section class="inputBox">
          <input type="email" id="author_email" name="author_email" value="<%= author.author_email %>" required>
          <label for="author_email">Email:</label>
        </section>
        <section class="inputBox">
          <input type="text" id="author_user" name="author_user" value="<%= author.author_user %>" required>
          <label for="author_user">Nome de Usuário:</label>
        </section>
        <section class="inputBox">
          <input type="password" id="author_pwd" name="author_pwd"  required>
          <label for="author_pwd">Nova Senha:</label>
        </section>
        <section class="check" id="editUserCheck">
          <section>
            <label>Admin:</label>
            <input type="checkbox" id="author_level" name="author_level" value="admin" <%=author.author_level==='admin'
              ? 'checked' : '' %>>
          </section>
          <section>
            <label>Ativo:</label>
            <input type="checkbox" id="author_status" name="author_status" value="on" <%=author.author_status==='on'
              ? 'checked' : '' %>>
          </section>
        </section>
        <button type="submit" class="btn">Atualizar Usuário</button>
      </form>
    </article>
  </main>
  <footer>
    <section>
      <i class='bx bxl-twitter bx-md'></i>
      <i class='bx bxl-instagram bx-md'></i>
      <i class='bx bxl-youtube bx-md'></i>
    </section>
    <p>Todos os direitos reservados © 2023</p>
  </footer>
</body>

</html>