<!-- updateUser.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualização de Usuário</title>
</head>
<body>
  <a href="/admin">Voltar</a>
  <a href="/">Home</a>

  <% if (!user) { %>
    <!-- Mostrar apenas quando o usuário NÃO estiver logado -->
    <a href="/login">
      <li>
        Login
      </li>
    </a>
  <% } else { %>
    <!-- Mostrar apenas quando o usuário estiver logado -->
    <a href="/admin">
      <li>
        Admin
      </li>
    </a>
    <a href="/login/logout">
      <li>
        Logout
      </li>
    </a>
  <% } %>
  
  <h1>Editar Usuário: <%= author.author_name %></h1>
  <form action="/users/edit/<%= author.author_id %>" method="post">
    <label for="author_name">Nome:</label>
    <input type="text" id="author_name" name="author_name" value="<%= author.author_name %>" required><br>

    <label for="author_email">Email:</label>
    <input type="email" id="author_email" name="author_email" value="<%= author.author_email %>" required><br>

    <label for="author_user">Nome de Usuário:</label>
    <input type="text" id="author_user" name="author_user" value="<%= author.author_user %>" required><br>

    <label for="author_pwd">Senha:</label>
    <input type="password" id="author_pwd" name="author_pwd" value="<%= author.author_pwd %>" required><br>

    <label>Ativo:</label>
    <input type="checkbox" id="author_status" name="author_status" value="on" <%= author.author_status === 'on' ? 'checked' : '' %>>

    <label>Admin:</label>
    <input type="checkbox" id="author_level" name="author_level" value="admin" <%= author.author_level === 'admin' ? 'checked' : '' %>>

   

    <input type="submit" value="Atualizar Usuário">
  </form>
</body>
</html>
