<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Usuário</title>
</head>
<body>
  <h1>Perfil do Usuário</h1>
  <a href="/">Home</a>
  <a href="/admin">Voltar</a>

  <% if (!user) { %>
    <!-- Mostrar apenas quando o usuário NÃO estiver logado -->
    <a href="/login">
      <li>
        Login
      </li>
    </a>
  <% } else { %>
    <!-- Mostrar apenas quando o usuário estiver logado -->
    <a href="/admin">
      <li>
        Admin
      </li>
    </a>
    <a href="/login/logout">
      <li>
        Logout
      </li>
    </a>
  <% } %>
  
  <ul>
    <li>
      <p>Nome: <%= user.author_name %></p>
      <p>Usuário: <%= user.author_user %></p>
      <p>Email: <%= user.author_email %></p>
      <p>Status: <%= user.author_status ? 'Ativo' : 'Desativado' %></p>
      <p>Nível: <%= user.author_level %></p>
      <p>Senha: <%= user.author_pwd %></p>
      <p>ID: <%= user.author_id %></p>
    </li>
  </ul>
</body>
</html>
